.wrapper {
  display: flex;
  flex-direction: column;
  border: 3px lightskyblue solid;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: lightskyblue;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.counterError {
  position: relative;
  font-weight: bold;
  color: red;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 3px lightskyblue solid;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
