.wrapper {
  display: flex;
  flex-direction: column;
  border: 3px lightskyblue solid;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}

.counter {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: lightskyblue;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.counterMaxValue {
  position: relative;
  font-weight: bold;
  color: red;
}

.counterMaxValue:after {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border: 3px solid red;
  border-radius: 50%;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  border: 3px lightskyblue solid;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}

.button {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background-color: lightskyblue;
  border: 3px lightskyblue solid;
  border-radius: 3px;
  color: white;
}

.button:disabled,
.button:disabled:hover {
  background-color: grey;
  border-color: grey;
}

.button:hover {
  border-color: #0858ec;
  background-color: #0858ec;
}
